*, ::after, ::before {
  box-sizing: border-box;
}

html, body, #app, #app > div {
  background: #1d1d26;
  font-family: sans-serif;
  height: 100%;
  min-height:100%;
  margin: 0;
  color: #acfdff;
}

#app-version{
  display: none;
}

#screen-one {
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url('images/mf-flat-dark-lg.jpg') no-repeat fixed center;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#get-started-button{
  font-size: 4em;
  height: 2em;
  filter: drop-shadow(0 0 30px #333);
}

#root {
  min-height: 100%;
  height: 100%;
}

.text-right {
  text-align: right;
}
